**PYTHON IMPORTANT CONCEPTS**

Variables

In [ ]:
#Variables are dynamically typed (No need to mention the type during the program.
#The type is assigned during the run time based on the value

n = 2 # int

n = 'Jaya' #str

n = True #bool

n = 3.0 #float

n = [1,2,3] #list

n = 2.0 + 3.0j  #complex
print(n)

(2+3j)

In [ ]:
#Multiple assignments is possible in Python

a, b, c = 0, 'xyz', True
print(a,b,c)

0 xyz True

Assignment Operator

In [ ]:
n = 0
n = n + 1  # To increment n by some number
n += 1  # To increment n by number
#n++  This increment operator is not available in Python
print(n)

2

Null

In [ ]:
#None is known to be null operator in Python
n = 4
n = None
print(n)

None

If Statement

In [ ]:
#If statement don't need parantheses or curly braces in Python
#Just the indentation does the enough work
#Parantheses are not needed for the condition

n = 5
if n > 2:
  n -= 3
print(n)

2

Multi Line Conditions

In [ ]:
#Multi line conditions require parantheses

n = 12

if ((n > 10
    and n < 13) or n == 12):
  print("the value of n is:",n)

else:
  print("Unknown")

the value of n is: 12

While Loops

In [ ]:
z = 4
while z < 10:
  print(z)
  z += 1

4
5
6
7
8
9

For Loops

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(2,6):  #range(start,end)
  print(i)

2
3
4
5

In [ ]:
for i in range(2,9,2): #range(start,end,step)
  print(i)

2
4
6
8

In [ ]:
for i in range(2,-8,-1):
  print(i)

2
1
0
-1
-2
-3
-4
-5
-6
-7

In [ ]:
for i in range(9,3,-2):
  print(i)

9
7
5

Division in Python

In [ ]:
#Division in Python is by default decimal not integer(imp to remember)

print(4/2) #Outputs 2.0 and not 2

2.0

In [ ]:
# You can convert the result if needed into an Integer by:
print(int(4/2))

2

Integer Division

Integer Division rounds the output as shown below:

In [ ]:
print(5//2)

2

In [ ]:
print(5/2)

2.5

In [ ]:
print(-3//2)

-2

In [ ]:
print(int(-3/2))

-1

Modulo function

In [ ]:
print(5%2)

1

Modulo with negative numers is different in Python

In [ ]:
print(-10%3)

2

We can use math library function to resolve this:

In [ ]:
import math
print(math.fmod(-10,3))

-1.0

floor

In [ ]:
print(math.floor(3/2))

1

ceil

In [ ]:
print(math.ceil(3/2))

2

sqrt

In [ ]:
print(math.sqrt(2))

1.4142135623730951

Power

In [ ]:
print(math.pow(2,3))

8.0

Positive Infinity

In [ ]:
a = float('inf')
print(a)

inf

Negative Infinity

In [ ]:
b = float('-inf')
print(b)

-inf

In [ ]:
print(math.pow(2,200) < float('inf'))

True

Arrays(Lists) in Python

In [ ]:
arr = [1,2,3]
print(arr)

[1, 2, 3]

Arrays as Stack

Appending elements to the stack:
Use append() method

In [ ]:
#Arrays can also be used as a stack in Python
lis = []
lis.append(4)
lis.append(9)
lis.append(6)
print(lis)

[4, 9, 6]

Remove an element from the stack
Stack follows LIFO methodology
The element which gets into the stack in the end gets ejected out first
Use pop() method for removing an element from the stack

In [ ]:
lis.pop() #LIFO

6

Insert an element at a specific index:
Use insert() method

In [ ]:
lis.insert(2,3)
print(lis)

[4, 9, 3, 3, 6]

To insert an element at specific index, usually it is O(n) operation.
in Python, we can do it in O(1).

In [ ]:
lis[2] = 6
print(lis)

[4, 9, 6, 3, 6]

Initialize an array of size n with default value 'k':

In [ ]:
n = 9
arr = [1] * n
print(arr)
print(len(arr))

[1, 1, 1, 1, 1, 1, 1, 1, 1]
9

We can also use a for loop for the same

In [ ]:
arr = []
for i in range(9):
  arr.append(1)
print(arr)

[1, 1, 1, 1, 1, 1, 1, 1, 1]

Negative Indexing of an Array

In [ ]:
test = [1,2,4]
print(test[-1]) #Prints the last element
print(test[-3]) #Prints the first element in this case
#print(test[-5]) #List Index out of range

4
1

Slicing an Array

In [ ]:
test = [1,2,4]
print(test[2:])
print(test[1:2])
print(test[:2])

[4]
[2]
[1, 2]

Looping through Arrays:

Using Index

In [ ]:
nums = [1,2,5]

for i in range(len(nums)):
  print(nums[i])

1
2
5

Without using Index

In [ ]:
for i in nums:
  print(i)

1
2
5

To print both the index and the value

In [ ]:
for i in range(len(nums)):
  print(i, nums[i])

0 1
1 2
2 5

To do the same we can also use enumeration:

In [ ]:
for i,n in enumerate(nums):
  print(i,n)

0 1
1 2
2 5

Loop through multiple arrays simultaneously

Use zip() method

In [ ]:
nums1 = [1,2,4]
nums2 = [4,5,9]

for i, j in zip(nums1, nums2):
    print(i, j)

1 4
2 5
4 9

Reverse an Array

Use reverse() method

In [ ]:
n1 = [1,2,3]
n1.reverse()
print(n1)

[3, 2, 1]

Sorting an Array

Use sort() method

In [ ]:
n2 = [2,1,9,-1,2,-6,8,3,5,2,1]
n2.sort() #Sorts an array be default in ascending order
print(n2)

[-6, -1, 1, 1, 2, 2, 2, 3, 5, 8, 9]

In [ ]:
n2.sort(reverse= True) #To sort in descending order
print(n2)

[9, 8, 5, 3, 2, 2, 2, 1, 1, -1, -6]

In [ ]:
names = ["Jack", "Bob","Alice","Gin","Denver"]
names.sort() #By default strings are sorted based on the first letter of a word
print(names)

['Alice', 'Bob', 'Denver', 'Gin', 'Jack']

Custom sort by Length of string

In [ ]:
names.sort(key = lambda x:len(x))
print(names)

['Bob', 'Gin', 'Jack', 'Alice', 'Denver']

Using Lambda function

Lambda Function Syntax:

lambda arguments: expression

In [ ]:
a = lambda x : math.sqrt(x) #
res = a(5)
print(res)

2.23606797749979

In [ ]:
a = lambda x,y : x+y
print(a(2,3))

5

List Comprehension

In [ ]:
abc = [i*i for i in range(1,5)]
for j in abc:
  print(j)

1
4
9
16

To create array of given rows and repeats.

Doesn't create unique rows. All rows are the same

In [ ]:
arr2 = [[1,2,3]*2] *3
print(arr2)

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]

In [ ]:
arr = [[0]*4] * 3
print(arr)
arr[0][1] = 2
print(arr)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 2, 0, 0], [0, 2, 0, 0], [0, 2, 0, 0]]

To create an array of given rows and repeats.

Creates unique rows

In [ ]:
arr1 = [[0]*4 for i in range(3)]
print(arr1)
arr1[0][2] = 7
print(arr1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 7, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

Strings

Declaration

In [ ]:
str1 = "Hello, World!"
str2 = "Life is Awesome!!"
print(str1)
print(str2)

Hello, World!
Life is Awesome!!

Slicing in Strings

In [ ]:
print(str1[0:])
print(str1[:3])
print(str2[1:4])

Hello, World!
Hel
ife

Strings are immutable

In [ ]:
#str[2] = 'J'  #Throws an error if tried to modify
               #String object doesn't support item assignment
print(str1)

Hello, World!

Updating a String

Updating a string takes O(n) time as it create a new string altogether

In [ ]:
str1 += 'How are You?'
print(str1)

Hello, World!How are You?

String Conversion

Numerical Strings can be converted to Integer

In [ ]:
print(int('123') + int('234'))

357

In [ ]:
print(int('12') % int('-32'))

-20

To print the ASCII value of a character

In [39]:
print(ord('a'))

97

In [40]:
print(ord('b'))

98

Combine a list of strings

In [47]:
strings = ["ab","cd","ef"]
print("".join(strings))

abcdef

Queue

Queues in Python are double ended queues by default

A double-ended queue (deque) is a generalized data type that allows elements to be added to or removed from either the front or back.

It is also often called a head-tail linked list.

To import deque

In [50]:
from collections import deque

Declaring a deque

In [51]:
que = deque()

Append in a queue

In [57]:
que.append(9)
que.append(2)
que.append(4)

In [58]:
print(que)

deque([1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 9, 2, 4])

Pop from the left side of the queue

In [59]:
que.popleft() # Like FIFO, using popleft makes it pop the element from the beginning

1

Pop from the right side of the queue

In [61]:
que.pop()    # To pop from the end, use pop()

4

Append in the beginning / left

In [63]:
que.appendleft(5)
print(que)

deque([5, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 9, 2, 5])

HashSet

Python doesn't have a built-in data structure called a "hashset".

However, you can simulate the behavior of a hash set using the built-in "set" data type in Python.

A set is an unordered collection of unique elements, and it is implemented using a hash table.

Defining a set

In [65]:
hset = set()

Add elements into the set

In [75]:
hset.add(1)
hset.add(4)
hset.add(9)
hset.add(6)
hset.add(1) #Although it allows to add the same element, it stores only once inside the set.
#No Duplicates are allowed

In [76]:
print(hset)

{1, 4, 9, 6}

Length of set

In [77]:
print(len(hset))

4

Check if an element is present in the hashset

In [78]:
print(1 in hset)
print(4 in hset)
print(6 in hset)
print(5 in hset)

True
True
True
False

Remove an element from the hashset

In [81]:
#hset.remove(6)
print(hset)
print(6 in hset)

{1, 4, 9}
False

List to Set

In [83]:
print(set([1,2,3]))

{1, 2, 3}

Set Comprehension

In [84]:
jset = {i for i in range(5)}
print(jset)

{0, 1, 2, 3, 4}

HashMap/ Dictionary

Declaring a Map

In [86]:
map = {}
map ['alice'] = 45
map['bob'] = 23

Printing a Map

In [87]:
print(map)

{'alice': 45, 'bob': 23}

Length of a map

In [88]:
print(len(map))

2

In [90]:
jvdict = {
    "id": 1,
    "name": "Jaya",
    "Occupation": "Intern",
    "Need": "Full-time"
}

print(jvdict)

{'id': 1, 'name': 'Jaya', 'Occupation': 'Intern', 'Need': 'Full-time'}

In [92]:
jvdict['name'] = 'Jayavani'
print(jvdict)

{'id': 1, 'name': 'Jayavani', 'Occupation': 'Intern', 'Need': 'Full-time'}

To check if a key exists in a hashmap

In [96]:
print("name" in jvdict)

True

Pop from map

In [97]:
jvdict.pop("id")

1

In [98]:
print("id" in jvdict)

False

In [99]:
print(jvdict)

{'name': 'Jayavani', 'Occupation': 'Intern', 'Need': 'Full-time'}

Dictionary Comprehension

In [101]:
sdict = {i:2*i for i in range(5)}
print(sdict)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

Looping through Maps

In [104]:
m1 = {"ken":50, "ram": 80}
for i in m1:
  print(i,m1[i]) #Prints both the key and value

ken 50
ram 80

In [109]:
for i,j in m1.items():
  print(i,j)

ken 50
ram 80

To print only the values of Map

In [106]:
for i in m1.values():
  print(i)

50
80

In [108]:
print(m1['ken'])

50

Tuples

Tuples are like Arrays but are immutable

In [111]:
tup = (1,2,3)
print(tup)

(1, 2, 3)

Indexing

In [114]:
print(tup[0])
print(tup[-1])
print(tup[2])

1
3
3

Tuples are Immutable(Cannot be modified)

In [116]:
#tup[0] = 9 #'tuple' object does not support item assignment

Tuples can be used as a key for hashmap/set

In [117]:
m2 = {(1,2):3}
print(m2[1,2])

3

In [118]:
m3 = set()
m3.add((1,2))
print(m3)

{(1, 2)}

In [119]:
print((1,2) in m3)

True

Lists can't be keys

In [123]:
#m2[[1,2]] = 5
print(m2)

{(1, 2): 5}

Heap

Importing

In [124]:
import heapq

Heaps are Arrays under the hood

In [126]:
minHeap = []

In [127]:
heapq.heappush(minHeap,3)

In [128]:
heapq.heappush(minHeap,2)

In [129]:
heapq.heappush(minHeap,7)

In [130]:
print(minHeap)

[2, 3, 7]

Minumum is always at index '0' for minHeap

In [131]:
print(minHeap[0])

2

Loop through the Heap

In [132]:
while(len(minHeap)):
  print(heapq.heappop(minHeap))

2
3
7

Functions

In [133]:
def fun(n,m):
  return n*m

In [135]:
ans = fun(2,3)
print(ans)

6

Nested functions have access to outer variables

In [136]:
def outer(a,b):
  c = "c"

  def inner():
    return a+b+c
  return inner()

print(outer("a","b"))

abc

Class

In [139]:
class myClass:
  #constructor
  def __init__(self, nums):
    #create member varibales
    self.nums = nums
    self.size = len(nums)

  def getLength(self):
    return self.size

  def getDoubLeng(self):
    return 2 * self.getLength()

call = myClass([1,2,3])
ans = call.getLength()
ans2 = call.getDoubLeng()

print(ans)
print(ans2)

3
6

References:

https://www.youtube.com/watch?v=0K_eZGS5NsU